<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/home.css">
<script src="javascript/homeVue.js"></script>
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/defaults">Defaults</a>
  <a href="#Configurables">Configurable</a>

</div>

<div style="padding-left:16px">
  <h1>Bitcoin value prediction</h1>
  <div class="mem">
  <h2>Let's do some prediction!!</h2>
  <ul><li><h3>ARIMA</h3> <button> Click me!</button></li>
    <li><h3>RNN</h3><button>Click me!</button></li>
    <li><h3>LSTM</h3><button>Click me!</button></li></ul>
  
</div>
</div>

</body>
</html>